<h1>Create a new recipe</h1>

<form method="POST" action="/recipes">
  <div class="input-wrapper">
    <label for="name">Recipe Name:</label>
    <input type="text" name="name" id="name">

    <br />

    <label for="ingredients">Recipe Ingredients</label>
    <input type="text" name="ingredients" id="ingredients">
    
    <br />

    <label for="cook_time">Recipe Cook Time</label>
    <input type="text" name="cook_time" id="cook_time">

    <br />
    <br />

    <input type="submit" />
  </div>

</form>